* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #313131;
}

h1 {
    color: aquamarine
}

h2 {
    color: white;
}

h1,
h2 {
    text-align: center;
    padding: 10px;
}

.add-book {
    display: block;
    /* so takes full line */
    margin: 10px auto;

}


button {
    margin: 10px;
    padding: 6px;
    font-size: 18px;
    border-radius: 6px;
    background-color: antiquewhite;
}

dialog {
    position: fixed;
    inset: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    /* imp otherwise unable to set to center of page*/
    height: 100vh;

    background: transparent;
    /*otherwise complete white background*/

    /* display: flex;
    here dialog box was always open if used this*/

}

dialog[open] {
    display: flex;
    justify-content: center;
    align-items: center;

}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;

    width: 400px;
    background-color: #2b2b2b;
    color: white;
}

dialog input[type="text"],
dialog input[type="number"] {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
}


.books-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
    padding: 20px;
}

.card {
    background-color: #2b2b2b;
    color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}